# Maximum Java heap memory
MEMORY=2G

# You must accept the Minecraft EULA to start the server
EULA=true

# Set to true if only whitelisted players are allowed
WHITE_LIST=false

# Maximum number of players
MAX_PLAYERS=10

# Minecraft difficulty: peaceful, easy, normal or hard
DIFFICULTY=normal

# Minecraft gamemode: survival, creative, adventure or spectator
GAMEMODE=survival

# Name of the server displayed in the Minecraft server list
MOTD=My Minecraft Server

# Minecraft server port inside the container
SERVER_PORT=25565

# Port exposed to the internet
HOST_PORT=8888